<h3>Bonjour Mr/Mme ,
    Votre reclamation est en cours de traitement et sera traiter dans les plus brefs délais.
    Merci pour votre comphrension et si vous avez une autre demande ou un conseil ca sera avec grand plaisir.
    Cordialement.</h3>