<h3>Bonjour Mr/Mme ,
    Déja bienvenue dans notre site web , on espére qu'il vous plait et qu'il répond à tous nos besoins .
    Merci pour votre comphrension et si vous avez une autre demande ou un conseil ca sera avec grand plaisir.
    Cordialement.</h3>