<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
</ul>
<h1 >Liste des Conseils</h1>
<table id="customers">
    <thead>
    <tr>

        <th>NOM</th>
        <th>PRENOM</th>
        <th>Conseil</th>




    </tr>
    </thead>
    <tbody>


    {% for conseil in conseil %}
        <tr>

            <td>{{conseil.nom}}</td>
            <td>{{conseil.prenom}}</td>
            <td>{{conseil.conseil}}</td>






        </tr>
    {% endfor %}
    </tbody>
</table>



<br><br>

<style>
    h1{
        position: center;
        color : #532cdf;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #ac7d9e;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4c6daf;
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;

    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #ac7d9e;
        color: #532cdf;
    }

</style>