{% extends 'baseAzizBack.html.twig' %}

{% block body %}
    <!--<div class="main-w3pvt mian-content-wthree text-center" id="home">
        <div class="container">
            <div class="style-banner mx-auto"><-->
<center>
    <h1>Bienvenue dans votre espace tuteur !</h1>
    <h2>Vous pouvez maintenant gérer la liste des cours et des contes dans le site</h2>
    <br><br><br>
    <img src="{{asset('BackGhada/img/g5.jpg')}}">
    </center>

{% endblock %}