{% extends 'Temp/TemplAfficheTous.html.twig' %}

{% block parent %}
<div>
<table border="1">

    <tr>
        <th scope="row">id parent</th>
        <th scope="row">emailp</th>


    </tr>
    {% for Parent in Parents %}
        <tr>
            <td> {{ Parent.idp }}</td>
            <td> {{ Parent.emailp }}</td>




        </tr>

    {% endfor %}

</table>
</div>
{% endblock %}